<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Post List Page</title>
    <!-- <link rel="stylesheet" th:href="@{post.css}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>
<body>
<header>
    <h1>CRUD -- Post List</h1>
</header>
<div class="middle">
    <div class="post">
        <h3>投稿一覧（一覧表示）</h3>
    </div>
    <div class="sub-post">
        <h5>今までの投稿です</h5>
        <!-- 投稿一覧を表示する -->
        <table class="list">
            <tr>
                <td>ID</td>
                <td>投稿内容</td>
            </tr>
            <tr th:each="list:${list}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.content}"></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>