<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>test</title>
</head>
<body>
<h1>Hellow World!</h1>
<!--<div>
    <span class="label">Message : </span>
    <span class="message"></span>
</div>
</body>-->
<!--<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script type="text/javascript">
    // JSON を取得して .message に表示。
    $(function() {
        $.ajax({
            url: '/hello',
            method: 'get',
            cache: false
        }).then(function(data) {
            $('.message').text(data.message);
        });
    });
</script>-->
</body>
</html>